body { 
	padding-top: 50px; 
}
.navbar-inverse{
	background-color: rgba(0, 0, 0, 0.6);
	border-color: transparent;
}
#menu-section > div > div.navbar-header > button{
	border:1px solid #9d9d9d;
	padding-top: 8px;
	padding-right: 11px;
	padding-left: 11px;
	padding-bottom:6px;
	border-radius: 10px
}
#menu-section > div > div.navbar-header > button:hover{
	background-color: rgba(90,90,90,0.9);
}
#colapse-icon{
	color:#9d9d9d;
	font-size: 21px;
}
